*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body{
    background-color: #D6D8DE;
  }

  .contenedor-padre{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .contenedor-hijo{
    display: flex;
    width: 120vh;
    height: 80vh;
    background-color: white;

   
 }

 #imagen{
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    margin: 14% 0 14% 0%;
 }

 #contenedor-funcionalidad{
    height: 50vh;
    display: flex;
    justify-content: flex-end;
 }



/* otra manera para centrar un div : display: grid;
place-items: center;*/